/* username.css */
.home_components {
  text-align: center;
  margin-top: 2rem;
}

.welcome_heading {
  font-size: 3rem;
  padding: 1rem;
}

.username_form {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username_form label {
  display: block;
  margin-bottom: 0.5rem;
}

.username_form input {
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.username_form label {
  font-size: 2rem;
}

.username_form button {
  font-size: 1.6rem;
}
/* media queries */
@media (max-width: 50em) {
  .welcome_heading {
    font-size: 2.8rem;
  }
  .username_form input {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }
  .username_form label {
    font-size: 1.8rem;
  }
}
@media (max-width: 40em) {
  .welcome_heading {
    font-size: 2.6rem;
  }
}
@media (max-width: 28em) {
  .welcome_heading {
    font-size: 2.4rem;
  }
  .username_form input {
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
  .username_form label {
    font-size: 1.4rem;
  }
}
