.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.task_status {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.completed_task {
  font-size: 2rem;
  text-decoration: none;
  color: var(--list-buttons-background-color);
}

.task_details {
  background-color: var(--list-background-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
  font-size: 2.4rem;
}

.incomplete {
  font-size: 2rem;
  color: var(--list-buttons-delete-background-color);
}

.priority_task {
  font-size: 2rem;
  background-color: var(--list-background-color-hover);
  padding: 1rem;
  border-radius: 2rem;
  color: var(--text-light);
}

/* media queries */
@media (max-width: 50em) {
  .task_details {
    font-size: 1.8rem;
  }
}
@media (max-width: 40em) {
  .task_details {
    font-size: 1.6rem;
  }
}
@media (max-width: 28em) {
  .task_details {
    font-size: 1.2rem;
  }
}
