:root {
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbbdc;
  --primary-btn-color: #53319c;
  --button-delete-color:#b96666
  --background-body-color: rgb(233, 223, 255);
  --list-background-color:#cbc1e1;
  --list-background-color-hover:#876fba;
  --list-border-color:#baadd7;
  --list-buttons-background-color:#808000;
  --list-buttons-delete-background-color:#ae4d4d;
  --form-input-background:#baadd7;
  --form-input-color:#ccc;
  --bg-white: #fff;
  --bg-footer:#9883c4;
  --bg-light:rgb(233, 223, 255);
}
html {
  font-size: 62.5%;
}
body {
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
  
}
.weekday {
  font-size: 3rem;
  text-align: center;
  color: var(--primary-btn-color);
}
@media (max-width: 50em) {
  h1 {
    font-size: 3rem;
  }
  .weekday {
    font-size: 2rem;
  }
}
/* meedia queries*/
@media (max-width: 40em) {
  h1 {
    font-size: 2.5rem;
  }
  .weekday {
    font-size: 1.8rem;
  }
}
@media (max-width: 27em) {
  .weekday {
    font-size: 1.4rem;
  }
}

@media (max-width: 23em) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 23em) {
  .weekday {
    font-size: 1.4rem;
    max-width: 50%;
    text-align: left;
  }
}
