html {
  font-size: 62.5%;
}
body {
  color: #000;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 223, 255);
}
.weekday {
  font-size: 3rem;
  text-align: center;
  color: #53319c;
}
@media (max-width: 50em) {
  h1 {
    font-size: 3rem;
  }
  .weekday {
    font-size: 2rem;
  }
}
/* styles */
@media (max-width: 40em) {
  h1 {
    font-size: 2.5rem;
  }
  .weekday {
    font-size: 1.8rem;
  }
}

@media (max-width: 23em) {
  h1 {
    font-size: 2rem;
  }
}
